@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


$Nunito: 'Nunito Sans', sans-serif;
$Khula:  'Khula', sans-serif;
$Lato: 'Lato', sans-serif;
